@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");

svg {
	font-family: "Nova Cut", sans-serif;
	width: 200px; height: 50px;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #001b47;
	font-size: 40px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper{background-color: #b7c6f2;
    
}
.mynavbar{
    /* box-shadow: 8px 8px 11px 0px rgba(26, 24, 119, 0.91); */
	background-color: #b7c6f2;
}

.mylink{
    margin-left: 150px;
}
.mylink:hover{
    /* text-decoration: underline red 3px; */
    text-shadow: 3px 4px 7px rgba(21, 6, 122, 0.8);

}
*{
    scroll-behavior: smooth;
}
section{
    margin: 10px;
}
.portfolio{
	font-size: x-large;
	display: inline;
	background-color: #83a9e7;
	border-radius: 87px; 
	border: 2px solid #365FA0;
	padding: 4px;
}
#home{
	height: 100vh;
	padding-top: 100px;
	background-image: conic-gradient(to right #cbe7dd 25%, #372f48 25% 50%, #372f48 50% 75%, #e3ac72 75% 100%);
	background-color: #b7c6f2;
}
#aboutme{
	height: 100vh;
	padding-top: 100px;
	background-color: #b7c6f2;
}
#education{
	height: 100vh;
	padding-top: 100px;
	background-color: #b7c6f2;
}
#skills{
	height: 100vh;
	padding-top: 100px;
	background-color: #b7c6f2;
}
#projects{
	height: 100vh;
	padding-top: 100px;
	background-color: #b7c6f2;
}
#contact{
	height: 100vh;
	padding-top: 100px;
	background-color: #b7c6f2;
}
nav{
	position: fixed;
  	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
body{
	padding-top: 70px;
}